RewriteEngine on
RewriteBase /

RewriteCond ${REQUEST_FILENAME} !-f
RewriteRule (.*)\.json /index.php [L]

RewriteCond ${REQUEST_FILENAME} !-f
RewriteRule (.*) /index.php [L]

#<Files *.php>
    SetEnv downgrade-1.0
#</Files>